package {{servicePackage}};

import {{domainPackage}}.{{entityName}};
import org.jhapy.baseserver.service.{{crudServiceName}};

public interface {{entityName}}Service extends {{crudServiceName}}<{{entityName}}> {
}